In [2]:
import pandas as pd
import datetime

In [3]:
#df_links = pd.read_csv("Data/links.csv")
df_links = pd.read_csv("/content/sample_data/links.csv")
df_links

      movieId   imdbId    tmdbId
0           1   114709     862.0
1           2   113497    8844.0
2           3   113228   15602.0
3           4   114885   31357.0
4           5   113041   11862.0
...       ...      ...       ...
9737   193581  5476944  432131.0
9738   193583  5914996  445030.0
9739   193585  6397426  479308.0
9740   193587  8391976  483455.0
9741   193609   101726   37891.0

[9742 rows x 3 columns]

In [4]:
#df_movies = pd.read_csv("Data/movies.csv")
df_movies = pd.read_csv("/content/sample_data/movies.csv")
df_movies

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
9737,193581,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy
9738,193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy
9739,193585,Flint (2017),Drama
9740,193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation
9741,193609,Andrew Dice Clay: Dice Rules (1991),Comedy

In [5]:
#df_ratings = pd.read_csv("Data/ratings.csv")
df_ratings = pd.read_csv("/content/sample_data/ratings.csv")
df_ratings

        userId  movieId  rating   timestamp
0            1        1     4.0   964982703
1            1        3     4.0   964981247
2            1        6     4.0   964982224
3            1       47     5.0   964983815
4            1       50     5.0   964982931
...        ...      ...     ...         ...
100831     610   166534     4.0  1493848402
100832     610   168248     5.0  1493850091
100833     610   168250     5.0  1494273047
100834     610   168252     5.0  1493846352
100835     610   170875     3.0  1493846415

[100836 rows x 4 columns]

In [ ]:
####
"""
All code can join on movieID

"""

'\nAll code can join on movieID\n\n'

In [ ]:
df_links.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9742 entries, 0 to 9741
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   movieId  9742 non-null   int64
 1   imdbId   9742 non-null   int64
 2   tmdbId   9734 non-null   float64
dtypes: float64(1), int64(2)
memory usage: 228.5 KB

In [ ]:
df_movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9742 entries, 0 to 9741
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   movieId  9742 non-null   int64
 1   title    9742 non-null   object
 2   genres   9742 non-null   object
dtypes: int64(1), object(2)
memory usage: 228.5+ KB

In [ ]:
df_ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100836 entries, 0 to 100835
Data columns (total 4 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   userId     100836 non-null  int64
 1   movieId    100836 non-null  int64
 2   rating     100836 non-null  float64
 3   timestamp  100836 non-null  int64
dtypes: float64(1), int64(3)
memory usage: 3.1 MB

In [6]:
movie_df = df_links.merge(df_movies, on='movieId').merge(df_ratings, on='movieId')

In [7]:
movie_df.head()

,movieId,imdbId,tmdbId,title,genres,userId,rating,timestamp
0,1,114709,862.0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1,4.0,964982703
1,1,114709,862.0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,5,4.0,847434962
2,1,114709,862.0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,7,4.5,1106635946
3,1,114709,862.0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,15,2.5,1510577970
4,1,114709,862.0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,17,4.5,1305696483

In [8]:
sum(movie_df['title'] == 'Toy Story (1995)')

215

In [9]:
pd.set_option('display.max_rows', None)

In [10]:
movie_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 100836 entries, 0 to 100835
Data columns (total 8 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   movieId    100836 non-null  int64
 1   imdbId     100836 non-null  int64
 2   tmdbId     100823 non-null  float64
 3   title      100836 non-null  object
 4   genres     100836 non-null  object
 5   userId     100836 non-null  int64
 6   rating     100836 non-null  float64
 7   timestamp  100836 non-null  int64
dtypes: float64(2), int64(4), object(2)
memory usage: 6.9+ MB

In [ ]:
movie_df['movieId'].value_counts()

In [ ]:
movie_df['imdbId'].value_counts()

In [ ]:
movie_df['tmdbId'].value_counts()

In [ ]:
movie_df['title'].value_counts()

In [ ]:
movie_df['genres'].value_counts()

In [ ]:
movie_df['rating'].value_counts()

In [ ]:
movie_df['timestamp'].value_counts()

In [ ]:
movie_df['userId'].value_counts()

FILTERING BY RATINGS OVER 3.5

In [21]:
filtered_df = movie_df[movie_df['rating'] >= 3.0]

sorted_df = filtered_df.sort_values('rating', ascending=False)
sorted_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 81763 entries, 21836 to 78573
Data columns (total 8 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   movieId    81763 non-null  int64
 1   imdbId     81763 non-null  int64
 2   tmdbId     81754 non-null  float64
 3   title      81763 non-null  object
 4   genres     81763 non-null  object
 5   userId     81763 non-null  int64
 6   rating     81763 non-null  float64
 7   timestamp  81763 non-null  int64
dtypes: float64(2), int64(4), object(2)
memory usage: 5.6+ MB

CONVERTING TIMESTAMPS INTO DATES

In [22]:
sorted_df['date'] = sorted_df['timestamp'].apply(lambda x: datetime.datetime.fromtimestamp(x).strftime('%Y-%m-%d %H:%M:%S'))
sorted_df.head()

,movieId,imdbId,tmdbId,title,genres,userId,rating,timestamp,date
21836,1020,106611,864.0,Cool Runnings (1993),Comedy,453,5.0,1005967269,2001-11-17 03:21:09
36425,1912,120780,1389.0,Out of Sight (1998),Comedy|Crime|Drama|Romance|Thriller,64,5.0,1161559656,2006-10-22 23:27:36
17930,708,117979,8866.0,"Truth About Cats & Dogs, The (1996)",Comedy|Romance,337,5.0,860255830,1997-04-05 15:57:10
76784,8665,372183,2502.0,"Bourne Supremacy, The (2004)",Action|Crime|Thriller,393,5.0,1430506266,2015-05-01 18:51:06
76785,8665,372183,2502.0,"Bourne Supremacy, The (2004)",Action|Crime|Thriller,413,5.0,1484439902,2017-01-15 00:25:02

In [ ]:
#######
###### Calculate timing between each timestamp and input amount of time in minutes.

In [ ]:
cause an error here!!!!

NameError: name 'gnaongerwf' is not defined

In [ ]:
import surprise
from surprise import Dataset, Reader
from surprise.model_selection import train_test_split

reader = surprise.Reader(rating_scale=(1, 5))
data = Dataset.load_from_df(movie_df[['title', 'movieId', 'rating']], reader)

train, test = train_test_split(data, test_size=0.2, random_state=42)

In [ ]:
from surprise import KNNBasic

model = KNNBasic().fit(train)

Computing the msd similarity matrix...
Done computing similarity matrix.

In [ ]:
surprise.accuracy.mae(model.test(test))
surprise.accuracy.rmse(model.test(test))

In [ ]:
from surprise import SVD

model2 = SVD().fit(train)

In [ ]:
surprise.accuracy.mae(model2.test(test))
surprise.accuracy.rmse(model2.test(test))

In [ ]:
from surprise import NMF

model3 = NMF().fit(train)

In [ ]:
surprise.accuracy.mae(model3.test(test))
surprise.accuracy.rmse(model3.test(test))