In [1]:
import pandas as pd
import datetime

In [2]:
df_links = pd.read_csv("Data/links.csv")
df_links

      movieId   imdbId    tmdbId
0           1   114709     862.0
1           2   113497    8844.0
2           3   113228   15602.0
3           4   114885   31357.0
4           5   113041   11862.0
...       ...      ...       ...
9737   193581  5476944  432131.0
9738   193583  5914996  445030.0
9739   193585  6397426  479308.0
9740   193587  8391976  483455.0
9741   193609   101726   37891.0

[9742 rows x 3 columns]

In [3]:
df_movies = pd.read_csv("Data/movies.csv")
df_movies

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
9737,193581,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy
9738,193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy
9739,193585,Flint (2017),Drama
9740,193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation
9741,193609,Andrew Dice Clay: Dice Rules (1991),Comedy

In [4]:
df_ratings = pd.read_csv("Data/ratings.csv")
df_ratings

        userId  movieId  rating   timestamp
0            1        1     4.0   964982703
1            1        3     4.0   964981247
2            1        6     4.0   964982224
3            1       47     5.0   964983815
4            1       50     5.0   964982931
...        ...      ...     ...         ...
100831     610   166534     4.0  1493848402
100832     610   168248     5.0  1493850091
100833     610   168250     5.0  1494273047
100834     610   168252     5.0  1493846352
100835     610   170875     3.0  1493846415

[100836 rows x 4 columns]

In [5]:
df_tags = pd.read_csv("Data/tags.csv")
df_tags

      userId  movieId               tag   timestamp
0          2    60756             funny  1445714994
1          2    60756   Highly quotable  1445714996
2          2    60756      will ferrell  1445714992
3          2    89774      Boxing story  1445715207
4          2    89774               MMA  1445715200
...      ...      ...               ...         ...
3678     606     7382         for katie  1171234019
3679     606     7936           austere  1173392334
3680     610     3265            gun fu  1493843984
3681     610     3265  heroic bloodshed  1493843978
3682     610   168248  Heroic Bloodshed  1493844270

[3683 rows x 4 columns]

In [6]:
####
"""
All code can join on movieID

"""

'\nAll code can join on movieID\n\n'

In [7]:
df_links.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9742 entries, 0 to 9741
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   movieId  9742 non-null   int64
 1   imdbId   9742 non-null   int64
 2   tmdbId   9734 non-null   float64
dtypes: float64(1), int64(2)
memory usage: 228.5 KB

In [8]:
df_movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9742 entries, 0 to 9741
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   movieId  9742 non-null   int64
 1   title    9742 non-null   object
 2   genres   9742 non-null   object
dtypes: int64(1), object(2)
memory usage: 228.5+ KB

In [9]:
df_ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100836 entries, 0 to 100835
Data columns (total 4 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   userId     100836 non-null  int64
 1   movieId    100836 non-null  int64
 2   rating     100836 non-null  float64
 3   timestamp  100836 non-null  int64
dtypes: float64(1), int64(3)
memory usage: 3.1 MB

In [10]:
df_tags.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3683 entries, 0 to 3682
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   userId     3683 non-null   int64
 1   movieId    3683 non-null   int64
 2   tag        3683 non-null   object
 3   timestamp  3683 non-null   int64
dtypes: int64(3), object(1)
memory usage: 115.2+ KB

In [11]:
movie_df = df_links.merge(df_movies, on='movieId').merge(df_ratings, on='movieId').merge(df_tags, on='movieId')

In [12]:
movie_df.head()

,movieId,imdbId,tmdbId,title,genres,userId_x,rating,timestamp_x,userId_y,tag,timestamp_y
0,1,114709,862.0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1,4.0,964982703,336,pixar,1139045764
1,1,114709,862.0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1,4.0,964982703,474,pixar,1137206825
2,1,114709,862.0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1,4.0,964982703,567,fun,1525286013
3,1,114709,862.0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,5,4.0,847434962,336,pixar,1139045764
4,1,114709,862.0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,5,4.0,847434962,474,pixar,1137206825

In [13]:
movie_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 233213 entries, 0 to 233212
Data columns (total 11 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   movieId      233213 non-null  int64
 1   imdbId       233213 non-null  int64
 2   tmdbId       233213 non-null  float64
 3   title        233213 non-null  object
 4   genres       233213 non-null  object
 5   userId_x     233213 non-null  int64
 6   rating       233213 non-null  float64
 7   timestamp_x  233213 non-null  int64
 8   userId_y     233213 non-null  int64
 9   tag          233213 non-null  object
 10  timestamp_y  233213 non-null  int64
dtypes: float64(2), int64(6), object(3)
memory usage: 21.4+ MB

In [14]:
movie_df['movieId'].value_counts()

296     55567
2959    11772
260      6526
293      4655
924      4469
        ...
1893        1
6245        1
7141        1
3816        1
8188        1
Name: movieId, Length: 1554, dtype: int64

In [15]:
movie_df['imdbId'].value_counts()

110912    55567
137523    11772
76759      6526
110413     4655
62622      4469
          ...
116692        1
33149         1
309820        1
41699         1
116141        1
Name: imdbId, Length: 1554, dtype: int64

In [16]:
movie_df['tmdbId'].value_counts()

680.0      55567
550.0      11772
11.0        6526
101.0       4655
62.0        4469
           ...
42130.0        1
42122.0        1
21027.0        1
14594.0        1
14595.0        1
Name: tmdbId, Length: 1554, dtype: int64

In [17]:
movie_df['title'].value_counts()

Pulp Fiction (1994)                                               55567
Fight Club (1999)                                                 11772
Star Wars: Episode IV - A New Hope (1977)                          6526
Léon: The Professional (a.k.a. The Professional) (Léon) (1994)     4655
2001: A Space Odyssey (1968)                                       4469
                                                                  ...
Mildred Pierce (1945)                                                 1
Secret Lives of Dentists, The (2002)                                  1
Ghosts of the Abyss (2003)                                            1
Talk of the Town, The (1942)                                          1
Lust for Life (1956)                                                  1
Name: title, Length: 1554, dtype: int64

In [18]:
movie_df['genres'].value_counts()

Comedy|Crime|Drama|Thriller                56851
Action|Crime|Drama|Thriller                16725
Action|Adventure|Sci-Fi                    11939
Drama                                       6242
Comedy                                      5486
                                           ...
Action|Animation|Comedy|Horror|Thriller        1
Drama|Fantasy|Musical|Romance                  1
Adventure|Comedy|Crime|Drama|Romance           1
Drama|Fantasy|Horror                           1
Drama|Thriller|Western                         1
Name: genres, Length: 370, dtype: int64

In [19]:
movie_df['userId_x'].value_counts()

474    2455
414    2343
599    2100
68     1791
610    1701
       ...
406      10
499       9
207       8
578       6
175       5
Name: userId_x, Length: 610, dtype: int64

In [20]:
movie_df['rating'].value_counts()

4.0    64781
5.0    63845
4.5    31502
3.0    28550
3.5    22895
2.0     7955
2.5     6488
1.0     3721
0.5     1908
1.5     1568
Name: rating, dtype: int64

In [21]:
movie_df['timestamp_x'].value_counts()

1459787998    263
829760898     249
829828006     232
966597447     219
942843185     217
             ...
1490115182      1
1158531708      1
1258427015      1
1083589261      1
1171816464      1
Name: timestamp_x, Length: 42210, dtype: int64

In [22]:
movie_df['userId_y'].value_counts()

599    75368
474    50498
424    24482
477    19350
567    17081
62     14139
537     7507
357     3558
193     2278
184     2112
318     1438
103     1423
125     1219
573     1026
533      987
119      754
205      753
112      753
336      741
435      613
166      590
18       555
319      516
63       502
76       502
341      502
327      473
305      411
289      407
2        279
439      268
513      221
49       219
606      207
291      163
106      132
177      123
506      114
487      114
7        107
167       99
21        94
226       92
300       74
356       74
419       70
132       68
520       41
600       28
274       26
610       25
256       12
161       11
138        6
462        5
509        3
Name: userId_y, dtype: int64

In [23]:
movie_df['tag'].value_counts()

sci-fi               2527
thought-provoking    2487
twist ending         2434
atmospheric          2227
dark comedy          2056
                     ...
Chile                   1
Stephen Crane           1
symbolic                1
Othello                 1
britpop                 1
Name: tag, Length: 1584, dtype: int64

In [24]:
movie_df['timestamp_y'].value_counts()

1424753866    987
1431954555    921
1137375519    658
1137206826    591
1137207127    588
             ...
1137192041      1
1137179753      1
1137201677      1
1137375762      1
1137202093      1
Name: timestamp_y, Length: 3392, dtype: int64

In [25]:
movie_df['rating'].value_counts()

4.0    64781
5.0    63845
4.5    31502
3.0    28550
3.5    22895
2.0     7955
2.5     6488
1.0     3721
0.5     1908
1.5     1568
Name: rating, dtype: int64

FILTERING BY RATINGS OVER 3.5

In [26]:
filtered_df = movie_df[movie_df['rating'] >= 3.5]

sorted_df = filtered_df.sort_values('rating', ascending=False)
sorted_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 183023 entries, 115021 to 233212
Data columns (total 11 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   movieId      183023 non-null  int64
 1   imdbId       183023 non-null  int64
 2   tmdbId       183023 non-null  float64
 3   title        183023 non-null  object
 4   genres       183023 non-null  object
 5   userId_x     183023 non-null  int64
 6   rating       183023 non-null  float64
 7   timestamp_x  183023 non-null  int64
 8   userId_y     183023 non-null  int64
 9   tag          183023 non-null  object
 10  timestamp_y  183023 non-null  int64
dtypes: float64(2), int64(6), object(3)
memory usage: 16.8+ MB

CONVERTING TIMESTAMPS INTO DATES

In [27]:
sorted_df['date_x'] = sorted_df['timestamp_x'].apply(lambda x: datetime.datetime.fromtimestamp(x).strftime('%Y-%m-%d %H:%M:%S'))
sorted_df.head()

,movieId,imdbId,tmdbId,title,genres,userId_x,rating,timestamp_x,userId_y,tag,timestamp_y,date_x
115021,1197,93779,2493.0,"Princess Bride, The (1987)",Action|Adventure|Comedy|Fantasy|Romance,68,5.0,1158531521,474,Inigo Montoya,1137202999,2006-09-17 18:18:41
80047,296,110912,680.0,Pulp Fiction (1994),Comedy|Crime|Drama|Thriller,610,5.0,1479545817,599,crime,1498456353,2016-11-19 03:56:57
80065,296,110912,680.0,Pulp Fiction (1994),Comedy|Crime|Drama|Thriller,610,5.0,1479545817,599,drugs & music,1498456655,2016-11-19 03:56:57
80064,296,110912,680.0,Pulp Fiction (1994),Comedy|Crime|Drama|Thriller,610,5.0,1479545817,599,drugs,1498456348,2016-11-19 03:56:57
80063,296,110912,680.0,Pulp Fiction (1994),Comedy|Crime|Drama|Thriller,610,5.0,1479545817,599,drug overdose,1498456656,2016-11-19 03:56:57

In [29]:
sorted_df['date_y'] = sorted_df['timestamp_y'].apply(lambda x: datetime.datetime.fromtimestamp(x).strftime('%Y-%m-%d %H:%M:%S'))
sorted_df.head()

,movieId,imdbId,tmdbId,title,genres,userId_x,rating,timestamp_x,userId_y,tag,timestamp_y,date_x,date_y
115021,1197,93779,2493.0,"Princess Bride, The (1987)",Action|Adventure|Comedy|Fantasy|Romance,68,5.0,1158531521,474,Inigo Montoya,1137202999,2006-09-17 18:18:41,2006-01-13 20:43:19
80047,296,110912,680.0,Pulp Fiction (1994),Comedy|Crime|Drama|Thriller,610,5.0,1479545817,599,crime,1498456353,2016-11-19 03:56:57,2017-06-26 01:52:33
80065,296,110912,680.0,Pulp Fiction (1994),Comedy|Crime|Drama|Thriller,610,5.0,1479545817,599,drugs & music,1498456655,2016-11-19 03:56:57,2017-06-26 01:57:35
80064,296,110912,680.0,Pulp Fiction (1994),Comedy|Crime|Drama|Thriller,610,5.0,1479545817,599,drugs,1498456348,2016-11-19 03:56:57,2017-06-26 01:52:28
80063,296,110912,680.0,Pulp Fiction (1994),Comedy|Crime|Drama|Thriller,610,5.0,1479545817,599,drug overdose,1498456656,2016-11-19 03:56:57,2017-06-26 01:57:36

In [ ]:
#######
###### Calculate timing between each timestamp and input amount of time in minutes.

In [28]:
cause an error here!!!!

NameError: name 'gnaongerwf' is not defined

In [ ]:
import surprise
from surprise import Dataset, Reader
from surprise.model_selection import train_test_split

reader = surprise.Reader(rating_scale=(1, 5))
data = Dataset.load_from_df(movie_df[['title', 'movieId', 'rating']], reader)

train, test = train_test_split(data, test_size=0.2, random_state=42)

In [ ]:
from surprise import KNNBasic

model = KNNBasic().fit(train)

In [ ]:
surprise.accuracy.mae(model.test(test))
surprise.accuracy.rmse(model.test(test))

In [ ]:
from surprise import SVD

model2 = SVD().fit(train)

In [ ]:
surprise.accuracy.mae(model2.test(test))
surprise.accuracy.rmse(model2.test(test))

In [ ]:
from surprise import NMF

model3 = NMF().fit(train)

In [ ]:
surprise.accuracy.mae(model3.test(test))
surprise.accuracy.rmse(model3.test(test))