# Movie Recommendation System

# Introduction

# Business Understanding

# Data Understanding

In [2]:
# Import Packages
import pandas as pd
import surprise
from surprise.prediction_algorithms import *
import numpy as np
import datetime as dt

In [3]:
df_links = pd.read_csv("Data/links.csv")
df_links.head()

   movieId  imdbId   tmdbId
0        1  114709    862.0
1        2  113497   8844.0
2        3  113228  15602.0
3        4  114885  31357.0
4        5  113041  11862.0

In [4]:
df_links.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9742 entries, 0 to 9741
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   movieId  9742 non-null   int64
 1   imdbId   9742 non-null   int64
 2   tmdbId   9734 non-null   float64
dtypes: float64(1), int64(2)
memory usage: 228.5 KB

In [5]:
# Checking the movie ID column for duplicates.
df_links['movieId'].duplicated().sum()

0

In [6]:
df_movies = pd.read_csv("Data/movies.csv")
df_movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [7]:
df_movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9742 entries, 0 to 9741
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   movieId  9742 non-null   int64
 1   title    9742 non-null   object
 2   genres   9742 non-null   object
dtypes: int64(1), object(2)
memory usage: 228.5+ KB

In [8]:
# Checking the movie ID column for duplicates.
df_movies['movieId'].duplicated().sum()

0

In [9]:
df_ratings = pd.read_csv("Data/ratings.csv")
df_ratings.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [10]:
df_ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100836 entries, 0 to 100835
Data columns (total 4 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   userId     100836 non-null  int64
 1   movieId    100836 non-null  int64
 2   rating     100836 non-null  float64
 3   timestamp  100836 non-null  int64
dtypes: float64(1), int64(3)
memory usage: 3.1 MB

In [11]:
# Checking the movie ID column for duplicates.
df_ratings['movieId'].duplicated().sum()

91112

In [12]:
df_ratings['userId']

0           1
1           1
2           1
3           1
4           1
         ...
100831    610
100832    610
100833    610
100834    610
100835    610
Name: userId, Length: 100836, dtype: int64

In [13]:
# counting the amount of users
print(len(df_ratings['userId'].value_counts() > 1))

610

In [14]:
print((df_ratings['rating'].value_counts()))

4.0    26818
3.0    20047
5.0    13211
3.5    13136
4.5     8551
2.0     7551
2.5     5550
1.0     2811
1.5     1791
0.5     1370
Name: rating, dtype: int64

In [15]:
df_tags = pd.read_csv("Data/tags.csv")
df_tags.head()

   userId  movieId              tag   timestamp
0       2    60756            funny  1445714994
1       2    60756  Highly quotable  1445714996
2       2    60756     will ferrell  1445714992
3       2    89774     Boxing story  1445715207
4       2    89774              MMA  1445715200

In [16]:
df_tags.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3683 entries, 0 to 3682
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   userId     3683 non-null   int64
 1   movieId    3683 non-null   int64
 2   tag        3683 non-null   object
 3   timestamp  3683 non-null   int64
dtypes: int64(3), object(1)
memory usage: 115.2+ KB

In [17]:
# Checking the movie ID column for duplicates.
df_tags['movieId'].duplicated().sum()

2111

In [18]:
# Checking how many moveId's have a value count equal to 1.
df_tagid = df_tags['movieId']
df_tagid = df_tagid.to_frame()
print(len(df_tagid['movieId'].value_counts()==1))

1572

In [19]:
# Counting the number of userId's
print(len(df_tags['userId'].value_counts() > 1))

58

In [20]:
####
"""
All code can join on movieID

"""

'\nAll code can join on movieID\n\n'

## Merging Dataframes

In [21]:
# Merge 'links' and 'movie' dataframes on movieId
dfm1 = df_links.merge(df_movies, on='movieId')
dfm1 = dfm1.dropna()
dfm1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9734 entries, 0 to 9741
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   movieId  9734 non-null   int64
 1   imdbId   9734 non-null   int64
 2   tmdbId   9734 non-null   float64
 3   title    9734 non-null   object
 4   genres   9734 non-null   object
dtypes: float64(1), int64(2), object(2)
memory usage: 456.3+ KB

In [22]:
dfm2 = dfm1.merge(df_ratings, on='movieId')
dfm2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 100823 entries, 0 to 100822
Data columns (total 8 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   movieId    100823 non-null  int64
 1   imdbId     100823 non-null  int64
 2   tmdbId     100823 non-null  float64
 3   title      100823 non-null  object
 4   genres     100823 non-null  object
 5   userId     100823 non-null  int64
 6   rating     100823 non-null  float64
 7   timestamp  100823 non-null  int64
dtypes: float64(2), int64(4), object(2)
memory usage: 6.9+ MB

In [31]:
dfm3 = dfm2.merge(df_tags, on='movieId')
dfm3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 233213 entries, 0 to 233212
Data columns (total 11 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   movieId      233213 non-null  int64
 1   imdbId       233213 non-null  int64
 2   tmdbId       233213 non-null  float64
 3   title        233213 non-null  object
 4   genres       233213 non-null  object
 5   userId_x     233213 non-null  int64
 6   rating       233213 non-null  float64
 7   timestamp_x  233213 non-null  int64
 8   userId_y     233213 non-null  int64
 9   tag          233213 non-null  object
 10  timestamp_y  233213 non-null  int64
dtypes: float64(2), int64(6), object(3)
memory usage: 21.4+ MB

# Data Preparation

# Modleing

### Collaborative Filtering

In [34]:
print("The userId_x contains", len(dfm3['userId_x'].value_counts()), "different users that contributed a movie rating.")
print("The userId_y contains", len(dfm3['userId_y'].value_counts()), "different users that contributed a movie rating.")

The userId_x contains 610 different users that contributed a movie rating.
The userId_y contains 56 different users that contributed a movie rating.

# Conclusion